{% extends 'base.html' %}
{% load static %}

{% block page-header %}
{% endblock %}

{% block content %}
<div class="container container-body mt-4 mb-4">
    <div class="row">
        <div class="col-12 col-lg-9">
            <article class="row main-article">
                <h3>{{ article.name }}</h3>
                <p><em>{{ article.summary }}</em></p>
                <div id="tinymce-editor">{{ article.description|safe }}</div>
                <p>{{ article.script_title_1 }}</p>
                <iframe class="mb-3" src="{{ article.script_1 }}" id="yourjsconsole" title="yourjsconsole">
                </iframe>
                {% if article.codepen_title_1 %}
                    <p>{{ article.codepen_title_1 }}</p>
                {% endif %}
                {% if article.codepen_data_slug_hash_1 %}
                    <p>{{ article.codepen_data_slug_hash_1 }}</p>
                {% endif %}
                <p>{{  article.date_added }}</p>   
            </article>
        </div>
        <div class="col-12 col-lg-3">
            <section class="article-nav-cards">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-1">
                    {% include 'basics/includes/basic-nav.html' %}
                </div>
            </section>
            <p id="scroll-notice">Scroll for more articles</p>
        </div>
    </div>
    
</div>
{% endblock%}