<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
    data-bs-parent="#accordion-nav">
    <div class="accordion-body basics-acc">
        <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4">
            <div class="col mb-3">
                <div class="card h-100 border-success">
                    <div class="card-body">
                        <h5 class="card-title">Introduction</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer bg-success">
                        <a type="button" class="btn btn-success w-100 card-button" href="{% url 'basics' %}">An
                            Introduction to JavaScript
                        </a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card h-100 border-success">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-success w-100 card-button" href="">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card h-100 border-success">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-success w-100 card-button" href="">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card h-100 border-success">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-success w-100 card-button" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>