{% extends 'base.html' %}
{% load static %}

{% block page-header %}
{% endblock %}

{% block content %}
<div class="container container-body mt-4 mb-4">
  <article class="row text-center">
    <h3>Welcome!</h3>
    <p class="mb-0">This is JavaScripting. It's a blog style site where I will be writing about JavaScript.</p>
    <p class="mb-0">JavaScript is one of those funny things: you either take to it, or you don't.</p>
    <p>Yeah, it's a little like Marmite!</p>
    <p class="m-0">Here, I'll be detailing my struggles with this language, and also my joys when I "get it".</p>
    <p>I'll be talking about the semantics, the different data types, how to code in JavaScript, and more.</p>
    <p class="mb-0">The site will be split up into sections.</p>
    <p class="mb-0">So, for example, there will be a section about Strings. Another about Arrays.</p>
    <p>And so on...</p>
    <p>With each "article", I'll add a code snippet, taken from my GitHub repository.</p>
    <p class="mb-0">And there will also be a console playground where you can play along.</p>
    <p>Join me for the ride!</p>
  </article>
</div>
{% endblock%}