@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
    height: 100vh;
}

body {
    font-family: montserrat;
    min-height: 100vh;
    flex-direction: column;
}

/* ------------------------------------------------------------------------------------- Typewriter effect */
.wrapper-top,
.wrapper-bottom {
    background-color: #F0DB4F;
    height: 20vh;
    /*This part is important for centering*/
    display: flex;
    justify-content: center;
}

.wrapper-top {
    align-items: end;
}

.typing-main,
.typing-sub {
    /*width: handled by typingDemoAnimation.js script;*/
    /*animation: handled by typingDemoAnimation.js script; */
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 3em;
}

@media screen and (max-width: 50em) {
    .wrapper-top,
    .wrapper-bottom {
        height: 15vh;
    }
    .typing-main,
    .typing-sub {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 30em) {
    .wrapper-top,
    wrapper-bottom {
        height: 10vh;
    }
    .typing-main,
    .typing-sub {
        font-size: 1em;
    }
}
/* ------------------------------------------------------------------------------------- Typewriter effect */

.logo-font {
    font-size: 1rem;
    font-weight: 400;
}

.nav-row {
    height: 52px;
    position: relative;
    background-color: #F0DB4F;
    display: none;
}

@media screen and (max-width: 375px) {
    .nav-item .nav-link {
        padding: 0;
    }
}

.nav-container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
}

.nav-link,
.nav-link:focus {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.nav-link:hover {
    color: white;
}

.nav-pills {
    background-color: #F0DB4F;
}

.accordion-row {
    border-bottom: 1px solid rgba(33,37,41,0.1);
}

.accordion-nav {
    padding-left: 0px;
    padding-right: 0px;
}

#accordion-nav {
    display: none;
}

#accordion-button-1:not(.collapsed) {
    color: white;
    background-color: red;
}

#accordion-button-2:not(.collapsed) {
    color: white;
    background-color: orange;
}

#accordion-button-3:not(.collapsed) {
    color: black;
    background-color: #F0DB4F;
}

#accordion-button-4:not(.collapsed) {
    color: white;
    background-color: green;
}

#accordion-button-5:not(.collapsed) {
    color: white;
    background-color: blue;
}

#accordion-button-6:not(.collapsed) {
    color: white;
    background-color: indigo;
}

#accordion-button-7:not(.collapsed) {
    color: black;
    background-color: violet;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.container-body {
    flex-direction: column;
}

.main-article {
    min-height: 50vh;
}

#yourjsconsole {
    height: 300px;
}

/* ------------------------------------------------------------------------------------- Footer */

.footer {
    color: white;
    flex-grow: 1;
    bottom: 0;
    min-height: 10vh;
}
/* ------------------------------------------------------------------------------------- Footer */

