<p class="codepen" data-height="300" data-default-tab="html,result"
    data-slug-hash="{{ data_slug_hash }}" data-editable="true" data-user="JustinSawyer"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
    <span>See the Pen <a href="https://codepen.io/JustinSawyer/pen/{{ data_slug_hash }}">
            Typewriter effect</a> by Justin Sawyer (<a
            href="https://codepen.io/JustinSawyer">@JustinSawyer</a>)
        on <a href="https://codepen.io">CodePen</a>.</span>
</p>