<script>
    /*let typingMain = document.querySelector(".typing-main").innerText;
    let typingSub = document.querySelector(".typing-sub").innerText;
    let typingMainLength = typingMain.length;
    let typingSubLength = typingSub.length;
    let typingMainWidth = `${typingMainLength}ch`;
    let typingSubWidth = `${typingSubLength}ch`;
    let delay = typingMainLength * 100;
    let durationMain = `${typingMainLength * 100}ms`;
    let durationSub = `${typingSubLength * 100}ms`;
    $('.typing-main').css('width', typingMainWidth);
    $('.typing-sub').css('width', typingSubWidth);
    $('.wrapper-top').css('color', 'black');
    $('.typing-main').css('animation', `typing ${durationMain} steps(${typingMainLength})`);
    setTimeout(function () { 
        $('.wrapper-bottom').css('color', 'black')
    }, delay + 50);
    $('.typing-sub').css('animation', `typing ${durationSub} steps(${typingSubLength})`);
    $('.typing-sub').css('animation-delay', durationMain);*/$
    let i = 0;
    let fullTxt =  document.getElementById('typing-main-name');// 'JavaScripting : The Home Page.'
    let txt = fullTxt.value
    let j = 0;
    let fullTxt2 = document.getElementById('typing-sub-name') // 'Home.'
    let txt2 = fullTxt2.value
    let speed = 100;
    $(document).ready(function() {
        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("typing-main").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
                setTimeout(function () { 
                    document.getElementById("typing-sub").innerHTML += txt2.charAt(j);
                    j++;
                    setTimeout(typeWriter, speed);
                }, (txt.length*100) + 500);
            }
        };
        typeWriter();
    });
</script>