<!-- Typewriter titles --
<section class="container-fluid">
    <div class="wrapper-top">
        <input type="hidden" id="typing-main-name" value="{{ title }}">
        <h1 class="typing-main" id="typing-main">
            <!-- "Site : Section." goes here --
        </h1>
    </div>
    <div class="wrapper-bottom">
        <input type="hidden" id="typing-sub-name" value="{{ pagename }}">
        <h2 class="typing-sub" id="typing-sub">
            <!-- Page. --
        </h2>
    </div>
</section>-->