<div class="toast" id="toast_success" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success text-white">
        <strong class="me-auto"><i class="fas fa-check-circle"></i> Success!</strong>
        <button type="button" id="toastCloseBtn" class="toastCloseBtn btn-close text-white" data-bs-dismiss="#toast_success" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-success text-white bg-opacity-75">
        {{ message }}
    </div>
</div>